* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

/* Hero Section start */
#hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/hero.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(50%);
}

#hero_content {
    position: absolute;
}

#hero_content h1 {
    color: #fff;
    font-size: 2.8rem;
    text-shadow: 2px 2px 2px #000;
}

#hero_content h2 {
    color: #fff;
    font-size: 2rem;
    font-family: cursive;
    margin-top: 1rem;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 2px #000;
}

#hero_content a {
    color: #fff;
    padding: 3px 20px 3px 20px;
    border: 1px solid orange;
    background: rgb(0, 0, 0, 0.6);
    font-size: 1.5rem;
    text-decoration: none;
    border-radius: 25px;
}

#hero_content a:hover {
    background: rgb(172, 45, 45);
}

/* Hero Section End */

/* Header Section Start */
#header {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 70px;
    line-height: 70px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    background: rgb(0, 0, 0, 0.5);
}

#navbar h1 {
    color: orange;
    font-size: 1.8rem;
    text-shadow: 2px 2px 2px #000;
    font-family: cursive;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    padding: 3px 15px 3px 15px;
}

#navbar ul li:hover,
#Phone a:hover,
#mobile_menu ul li :hover {
    background: rgb(172, 45, 45);
    cursor: pointer;
}

#navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
}

#Phone a {
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    padding: 3px 15px 3px 15px;
    border: 1px solid orange;
}

#mobile_menu {
    display: none;
    height: 40px;
    line-height: 40px;
    background-color: magenta;
}

#mobile_menu ul {
    display: flex;
    justify-content: center;
}

#mobile_menu ul li {
    list-style: none;
    padding: 0px 5px 0px 5px;
}

#mobile_menu ul li a {
    text-decoration: none;
    color: #fff;
}

/* Header Section End */

/* Menu Section Start*/
#menu {
    padding: 25px 0px 25px 0;
}

#section {
    padding: 25px 0px 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: verdana;
}

#menu_row {
    display: flex;
    padding: 0px 100px 0px 100px;
}

#menu_col {
    box-shadow: 2px 2px 10px #bbb;
    border: 1px sloid #bbb;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    flex: 1;
}

#menu_col h2 {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-family: cursive;
}

#image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid orange;
}

#image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
}

/* Menu Section End */

/* Chef Section Begin*/

#chef {
    padding: 25px 0px 25px 0px;
}

#Section {
    padding: 25px 0px 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: verdana;
}

#chef_row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chef_col {
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    margin: 5px;
}

#img {
    width: 200px;
    height: 250px;
    margin: auto;
}

#img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Chef Section End */

/* About Section Begin*/

#about {
    padding: 25px 0px 25px 0px;
}

#about_row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 100px 0px 100px;
}

.about_col {
    flex: 1;
}

#about_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: auto;
}

#about_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: fill;
}

.about_col h1 {
    text-align: center;
    font-family: italic;
}

.about_col p {
    text-align: justify;
    font-weight: bold;
}

/* About  Section End */

/* Contact Section Start*/

#contact {
    padding: 25px 0px 25px 0px;
}

#contact_row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 100px 0px 100px;
    flex-wrap: wrap;
}

.contact_col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

#locationsymbol {
    color: rgb(247, 4, 4);
}

#emailsymbol {
    color: rgb(161, 77, 77);
}

#phonesymbol {
    color: rgb(6, 117, 2);
}

.contact_col p,
h3 {
    font-weight: bold;
    color: #292929;
    margin: 10px;
}

.contact_col p a {
    text-decoration: none;
    color: #292929;
}

/* #social a{
    color: magenta;
    margin: 3px;
} */

#facebook {
    color: rgb(19, 13, 197);
}

#insta {
    color: rgb(253, 3, 116);
}

#twitter {
    color: rgb(51, 69, 172);
}

#youtube {
    color: rgb(206, 8, 8);
}

.contact_col form {
    display: flex;
    flex-direction: column;
    background-color: #b25e5e;
    width: 70%;
    padding: 20px 40px 20px 20px;
}

.contact_col form h2 {
    text-align: center;
    font-family: cursive;
}

.contact_col form input {
    width: 100%;
    height: 17pt;
    padding: 5px;
    margin: 5px;
}

.contact_col form textarea {
    width: 100%;
    padding: 5px;
    margin: 5px;
}

.contact_col form button {
    margin: auto;
    padding: 10px;
    color: #fff;
    background-color: rgb(131, 1, 55);
    border: 1px solid rgb(131, 1, 55);
    cursor: pointer;
}

.contact_col form button:hover {
    background: #e28a06;
    border: #e28a06;
}

/* Contact Section End */

/* Footer Section Begin */

#footer {
    background-color: #292929;
    padding: 20px;
    position: relative;
}

#footer h5 {
    text-align: center;
    color: orangered;
}

#footer a {
    color: rgb(152, 3, 193);
    text-decoration: none;
}

#top {
    position: absolute;
    bottom: 12px;
    right: 12px;
}

#top {
    font-size: 1.2rem;
}

/* Footer Section End */

@media screen and (max-width: 768px) {
    #header {
        position: absolute;
    }

    #mobile_menu {
        display: block;
    }

    #navbar ul {
        display: none;
    }

    html {
        font-size: 95%;
    }

    #menu_row,
    #about_row,
    #contact_row {
        flex-wrap: wrap;
        padding: 0px 10px 0px 10px;
    }
}

@media screen and (max-width: 360px) {
    html {
        font-size: 70%;
    }

    #about_img {
        width: 220px;
        height: 220px;

    }
}